header {
  height: 520px;
  padding-top: 120px;
  width: auto;
  background-color: orange;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


