header {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  background-color: orange;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 500px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
}


