
.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.button {
  padding: 10px 15px;
  border: none;
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  font-size: 16px;
}

.special-counter {
  font-family: 'Bungee', sans-serif;
  font-size: 16px;
}

textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 4px solid black;
  margin-bottom: 5px;
  width: 80vw;
  padding-top: 4em;
  width: 800px;
  height: 100px;
  font-weight: bold;

}

.tweet-container {
  background-color: transparent;
  display: block;
  resize: none;
  outline: none;
  border: 4px solid black;
  margin: 20px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 800px;
  transition: box-shadow .2s;
}

.tweet-container:hover {
  box-shadow: 8px 8px cadetblue;
}

.user-info {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.user-image {
  display: flex;
  align-items: center;
}

.tweet-container-text {
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  overflow-wrap: break-word;
  border-bottom: 4px solid black;
  margin-bottom: 5px;
  padding-top: 20px;
  width: 750px;
  min-height: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding-right: 30px;
  padding-left: 10px;
  color:  #4056A1;
}

.footer .timeago {
  color:black;
}

.fa-flag:hover {
  color:darkgoldenrod;
}

.fa-retweet:hover {
  color:darkgoldenrod;
}

.fa-heart:hover {
  color:darkgoldenrod;
}

.warning-text  {
  color: red;
}

.errorOne {
  border: 3px solid red;
  color: red;
  padding: 4px;
  margin-top: 1em;
  display: none;
}

.errorTwo {
  border: 3px solid red;
  color: red;
  padding: 4px;
  margin-top: 1em;
  display: none;
}
